* {
  box-sizing: border-box;
}

body {
  line-height: 32px;
}

.container {
	font-family: 'Georgia', Times, Times New Roman, serif;
  background-image: url("../images/backgrd.png");
}

header {
  background:#4aaaa5;
  color:#ffffff;
  border:2px solid #cccccc;
  font-size:30px;
  font-weight: bold;
  padding: 25px;
  width:33%;
  float:left;
  margin:auto;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
}

#img{
padding:20px;
float:left;
}

.main-content{
  clear:both;
  overflow: auto;
  background: #ffffff;
  font-family: 'Georgia', Times, Times New Roman, serif;
  border color: #dddddd;
  color: #777777;
  font-size:20px;
  float:left;
  width:650px;
  margin-top: 70px;
  margin-left:170px;
  padding: 1em;
  overflow: hidden;
  margin:auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    text-align: center;
    padding: 24px 26px;
}


h2{
color: #4aaaa5;
font-size: 30px;
border-bottom: 2px solid #777777;
}

.me {
  border-bottom-style: solid;
  border-color: #777777;
}

.connect{
float:right;
width: 270 px;
background: white;
padding: 5px;
margin: 150px;
}

.footer {
background: #666666;
clear:both;
overflow: auto;
padding: 24px 15px;
margin: 0;
color:#efeee7;
font size: 28px;
text-align: center;
width:100%;
border-style:solid;
border-color:#4aaaa5;
border-width:5px 0px 0px 0px;  
}

