* {
  box-sizing: border-box;
}


body {
  line-height: 32px;
}


/*main header*/
header {
  background:#4aaaa5;
  color:#ffffff;
  border: 1px solid #cccccc;
  font-size:30px;
  font-weight: bold;
  padding:21px;
  float:left;
  margin-top: 0px;
  margin-left:197px;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
}

/*Nav Bar*/
nav {
    font-size:20px;
    float: left;
    text-align: center;
    padding:21px;
    margin-left: 360px; 
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   }

.nav1 {
padding: 14px 25px;
}

a{
text-decoration: none;
color: #777777;
}

.wrapper {
  font: 'Georgia', Times, Times New Roman, serif;
  background-image: url("../images/backgrd.png");
  clear: both;
  }

.main_content{
width:960px;
margin:50px auto;
}

/* connect with me icons*/
.img1 {
padding:10px;
float:left;
height:80px;
width:80px;
}

#profile_image{
padding:20px;
float: left;
}

/*main content block*/
.first_part {
  background: #ffffff;
  border:2px solid #dddddd;
  color: #777777;
  font-size:20px;
  float:left;
  width:650px; 
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 30px;
}


/*header 2*/
h2{
color: #4aaaa5;
font-size: 28px;
border-bottom: 2px solid #777777;
padding: 10px;
font-weight: bold;
font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/*connect with me block*/
.second_part {
float:right;
width: 270px;
background: white;
padding:5px;
border:2px solid #dddddd;
margin-top: 30px;
}

.footer {
background: #666666;
clear:both;
padding: 24px 15px;
color:#efeee7;
font size: 28px;
text-align: center;
width:100%;
border:solid #4aaaa5;
border-width:5px 0px 0px 0px;  
}

/*contact.html class*/
.line2{
border:2px solid #dddddd;
}

/*contact.html class Submit button*/
.button {
  background:#4aaaa5;
  color:#ffffff;
  border:1px solid #cccccc;
  font-size:20px;
  padding:1px;
  width:22%;
  text-align: center;
}

/*contact.html class*/
.box{
 border:2px solid #dddddd; 
 padding: 80px;
 margin-bottom: 10px;
}

/*Portfolio.html classes*/
.label_p{
  background:#4aaaa5;
  color:#ffffff;
  font-size:20px;
  padding:5px;
  width:100%;
  text-align: center;
  position: absolute;
  right: 0px;
  bottom: 4px;
}

.portfolio1{
  padding:1px;
  width:270px;
  height:150px;
  margin:10px;
  background-image: url("../images/p1.jpg");
  background-repeat: no-repeat;
  float: left;
  position: relative;

}
.portfolio2{
  padding:1px;
  width: 270px;
  height:150px;
  margin: 10px;
  background-image: url("../images/p2.jpg");
  background-repeat: no-repeat;
  float: left;
  position: relative;
}

.portfolio3{
  padding:1px;
  width:270px;
  height:150px;
  margin: 10px;
  background-image: url("../images/p3.jpg");
  background-repeat: no-repeat;
  float: left;
  position: relative;

}

.portfolio4{
  padding:1px;
  width:270px;
  height:150px;
  margin: 10px;
  background-image: url("../images/p4.jpg");
  background-repeat: no-repeat;
  float: left;
  position: relative;

}

.portfolio5{
  padding:1px;
  width:270px;
  height:128px;
  margin: 10px;
  background-image: url("../images/p5.jpg");
  background-repeat: no-repeat;
  float: left;
  position: relative;

}




